.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;

    .icon {
        font-size: 80px;
        color: var(--secondary-color);
    }
}