:root {
    --primary-background-color: rgb(26, 25, 25);
    --secondary-background-color: rgb(46, 44, 44);
    --tertiary-color: rgb(145, 144, 144);
    --primary-color: white;
    --secondary-color: rgb(103, 255, 65);
    --secondary-color-hover: rgb(135, 255, 106);
    --dead-color: rgb(255, 39, 39);
    --unknown-color: rgb(255, 175, 26);
    --overlay-color: rgba(0, 0, 0, 0.425);
}