.page_logo_container {
    width: 70px;
    height: 70px;

    &.lg {
        width: 100px;
        height: 100px;
    }
}

.page_logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}