.nav_list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    

    &.column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.nav_item {
    list-style: none;
}

.nav_link {
    color: var(--primary-color);
    text-decoration: none;
    font-family: sans-serif;
    transition: color .2s ease-in-out;
    font-family: "Jersey 15", sans-serif;
    font-size: 23px;

    &:hover {
        color: var(--secondary-color);
    }

    &.active {
        color: var(--secondary-color);
    }
}

@media screen and (width < 550px) {
    .hide {
        display: none;
    }
}